@import '../../css/_mixins.scss';

.section {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: var(--ifm-paragraph-margin-bottom);

  a {
    max-width: calc(50% - 16px);
    flex-basis: calc(50% - 16px);
    flex-grow: 1;
    text-decoration: none;
    background: var(--custom-surface-color);
    border-radius: 8px;
    border: 1px solid var(--ifm-toc-border-color);
    transition: border-color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
    box-shadow: var(--ifm-alert-shadow);
    padding: 16px;

    h1, h2, h3, h4, h5, h6 {
      margin: 0;
      padding: 0;
      font-size: var(--ifm-h3-font-size);
      color: var(--ifm-color-primary);
    }

    span, p, div {
      font-size: var(--ifm-font-size-base);
      color: var(--ifm-color-content-secondary);
      margin: 16px 0 0;
      padding: 0;
      height: auto;
      max-height: calc(var(--ifm-line-height-base) * 2);

      @include line-clamp(2);
    }
  }

  a:hover {
    border: 1px solid var(--ifm-color-primary);
  }
}


//.section {
//  display: flex;
//  flex-wrap: wrap; // Allow items to wrap on smaller screens
//  gap: 16px; // Default gap for mobile
//
//  @media (min-width: 768px) { // Adjust this breakpoint as needed
//    gap: 32px;
//  }
//}

//.card {
//  //background-color: $color-card-background;
//  //box-shadow: $shadow-light;
//  border-radius: 4px;
//  padding: 0px;
//  margin: 0;
//  width: calc(50% - 16px);
//
//  @media (min-width: 768px) {
//    width: calc(50% - 32px);
//  }
//
//  &__title {
//    font-weight: bold;
//    margin-bottom: 10px;
//  }
//
//  &__content {
//    //color: $color-card-text;
//  }
//}