@import '../../../../../src/css/_screen-layouts';

.docMainContainer {
  display: flex;
  width: 100%;
  max-width: calc(100% - var(--left-nav-width));
}

.docItemWrapper {
  padding: var(--gutter) 0 calc(var(--gutter) * 2);
}

@include for-desktop-screens {
  .docMainContainer {
    flex-grow: 1;
    max-width: calc(100% - var(--left-nav-width));
  }

  .docMainContainerEnhanced {
    max-width: calc(100% - var(--left-nav-width));
  }

  .docItemWrapperEnhanced {
    max-width: calc(
            var(--body-width)
    ) !important;
  }
}
