.wrapper {
  padding: 0;
  padding-left: var(--gutter);
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
  overflow-y: auto;
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 1rem);
  border-left: 1px solid var(--ifm-toc-border-color);
}

.section {
  margin-bottom: 32px;
}

.sectionTitle {
  margin-bottom: 8px;
}

.sectionLinks {
  list-style: none;
  padding-left: 0;
}

.link, .linkListTitle {
  color: var(--ifm-toc-link-color);
  display: flex;
  text-decoration: var(--ifm-link-decoration);
  transition: color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
  font-size: 1rem;
  align-items: center;
  margin-bottom: 4px;
}

.icon {
  margin-right: 0.5rem;
  width: 20px;
  height: 20px;
}