.glossaryContainer {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--ifm-toc-border-color);
}

.glossaryEntry {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  border-bottom: 1px solid var(--ifm-toc-border-color);
  border-top: 1px solid var(--ifm-toc-border-color);
}

.glossaryTerm {
  padding: 16px;
  width: 33%;
  border-right: 1px solid var(--ifm-toc-border-color);
  height: fit-content;
}

.glossarySummary {
  padding: 16px;
  flex: 1;
  border-left: 1px solid var(--ifm-toc-border-color);
  height: fit-content;
}

.glossaryColumns {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  border-bottom: 1px solid var(--ifm-toc-border-color);
  border-top: 1px solid var(--ifm-toc-border-color);
  font-weight: bold;
}