.tooltipContainer {
  position: relative;
  cursor: help;
  display: inline-block;
  color: var(--ifm-link-color);
  text-decoration: var(--ifm-link-decoration);
}

.tooltipBox {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px;
  width: max-content;
  max-width: 320px;

  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.2s, opacity 0.2s ease-in-out;
  background-color: var(--custom-surface-color);
  color: var(--ifm-font-color-base);
  text-decoration: none;

  border: 1px solid var(--ifm-toc-border-color);
  border-radius: 8px;
  box-shadow: var(--ifm-global-shadow-md);
}

.visible {
  visibility: visible;
  opacity: 1;
}

.moreInfoLink {
  display: block;
  margin-top: 8px;
  color: var(--ifm-link-color);
  text-decoration: var(--ifm-link-decoration);

  &:hover {
    color: var(--ifm-link-hover-color);
    text-decoration: var(--ifm-link-hover-decoration);
  }
}
