@import '../../../../../src/css/_screen-layouts';

.docSidebarContainer {
  display: none;
}

@include for-desktop-screens {
  .docSidebarContainer {
    display: block;
    width: var(--left-nav-width);
    margin-top: calc(-1 * var(--ifm-navbar-height));
    will-change: width;
    transition: width var(--ifm-transition-fast) ease;
    clip-path: inset(0);
  }

  .sidebarViewport {
    top: 0;
    position: sticky;
    height: 100%;
    max-height: 100vh;
  }
}
