/* Regular Weight */
@font-face {
  font-family: 'Spezia';
  src: url("/fonts/SpeziaWeb-Regular.woff2") format("woff2"),
       url("/fonts/SpeziaWeb-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Medium Weight */
@font-face {
  font-family: 'Spezia';
  src: url("/fonts/SpeziaWeb-Medium.woff2") format("woff2"),
       url("/fonts/SpeziaWeb-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* Monospace Medium Weight */
@font-face {
  font-family: 'Spezia Mono';
  src: url("/fonts/SpeziaMonoWeb-Medium.woff2") format("woff2"),
       url("/fonts/SpeziaMonoWeb-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}