@import '_screen-layouts';

html, :root {

  /* Heading Fonts */
  --ifm-heading-font-family: 'Space Grotesk', sans-serif;
  --ifm-heading-font-weight: 400;
  --ifm-h1-font-size: 48px;
  --ifm-h2-font-size: 32px;
  --ifm-h3-font-size: 24px;
  --ifm-h4-font-size: 20px;
  --ifm-h5-font-size: 18px;
  --ifm-h6-font-size: 18px;

  /* Content Fonts */
  --ifm-font-family-base: 'Inter', sans-serif;
  --ifm-font-size-base: 16px; /* Body 1 */
  --ifm-font-weight-semibold: 600;
  --ifm-link-hover-decoration: underline;

  /* Text Colors */
  --ifm-font-color-base: #222222;
  --ifm-color-content-secondary: #5D6C6D;
  --ifm-font-color-base-inverse: #ffffff;
  --ifm-link-color: #3d86b7;

  /* Background / Surface Colors */
  --ifm-background-color: #f6fbfe;
  --custom-background-blue-dark: #052D52;
  --custom-background-blue-light: #e1f0fd;
  --custom-surface-color: #fdfdfe;
  --custom-surface-blue: #c5eefb;
  --custom-surface-dark: #222222;
  --custom-divider-color: #222222;
  --custom-divider-light: #d9d9d9;

  /* Palette Colors */
  --ifm-color-primary: #1c4975;
  --ifm-color-primary-light: #3d86b7;
  --ifm-color-primary-dark: #052d52;
  --ifm-color-secondary: #427001;
  --ifm-color-secondary-light: #82cc17;
  --ifm-color-secondary-dark: #2b5301;
  --ifm-color-danger: #a51010;
  --ifm-color-danger-light: #c05858;
  --ifm-color-danger-dark: #790505;
  --ifm-color-warning: #f8b900;
  --ifm-color-warning-light: #fcdc80;
  --ifm-color-warning-dark: #ff9332;

  /* Button Styles */
  --custom-button-font-size: 16px;
  --custom-button-font-weight: 600; /* Semibold */
}

/**
Layouts
 */

@include for-xl-screens {
  html, :root {
    --gutter: 32px;
    --margin: auto;
    --margin-px: calc(100vw - 1600px) / 2;
    --columns: 12;
    --body-width: 1600px;
    --left-nav-width: calc(1600px / 12 * 2.5);
    --main-width: calc(1600px / 12 * 6);
    --right-nav-width: calc(1600px / 12 * 2.5);
    --columns-left-nav: 3;
    --columns-main: 6;
    --columns-right-bar: 3;
  }
}

@include for-lg-screens {
  html, :root {
    --gutter: 32px;
    --margin: 32px;
    --margin-px: 32px;
    --columns: 12;
    --body-width: 100%;
    --left-nav-width: calc(100% / 12 * 2.5);
    --main-width: calc(100% / 12 * 6);
    --right-nav-width: calc(100% / 12 * 2.5);
    --columns-left-nav: 3;
    --columns-main: 6;
    --columns-right-bar: 3;
  }
}

@include for-md-screens {
  html, :root {
    --gutter: 16px;
    --margin: 32px;
    --margin-px: 16px;
    --columns: 8;
    --body-width: calc(100% - 2 * 32px);
    --left-nav-width: calc(100% / 8 * 2);
    --main-width: calc(100% / 8 * 4);
    --right-nav-width: calc(100% / 8 * 2);
    --columns-left-nav: 3;
    --columns-main: 5;
    --columns-right-bar: 0;
  }
}

@include for-sm-screens {
  html, :root {
    --gutter: 16px;
    --margin: 32px;
    --columns: 4;
    --body-width: calc(100% - 2 * 32px);
    --left-nav-width: calc(100% / 4 * 0);
    --main-width: calc(100% / 4 * 4);
    --right-nav-width: calc(100% / 4 * 0);
    --columns-left-nav: 0;
    --columns-main: 4;
    --columns-right-bar: 0;
  }
}

@include for-xs-screens {
  html, :root {
    --gutter: 8px;
    --margin: 16px;
    --columns: 4;
    --body-width: calc(100% - 2 * 16px);
    --left-nav-width: calc(100% / 4 * 0);
    --main-width: calc(100% / 4 * 4);
    --right-nav-width: calc(100% / 4 * 0);
    --columns-left-nav: 0;
    --columns-main: 4;
    --columns-right-bar: 0;
  }
}


/**
Navbar customizations
 */

.navbar {
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  --ifm-navbar-background-color: var(--ifm-color-primary-dark);
}

.navbar__inner {
  max-width: var(--body-width);
  margin-left: var(--margin);
  margin-right: var(--margin);
}

.navbar__title, .navbar__inner, .navbar__link {
  color: var(--ifm-font-color-base-inverse);
}

/**
Search customizations
 */

.DocSearch {
  /* Navbar item */
  --docsearch-primary-color: var(--ifm-color-primary);
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-content-secondary);

  /* Searchbox */
  --docsearch-searchbox-background: var(--custom-surface-color);
  --docsearch-searchbox-focus-background: var(--custom-surface-color);

  /* Result */
  /*--docsearch-hit-color: var(--ifm-font-color-base);*/
  /*--docsearch-hit-active-color: var(--ifm-color-white);*/
  /*--docsearch-hit-background: var(--ifm-color-white);*/

  /* Modal */
  /*--docsearch-container-background: var(--custom-surface-color);*/
  --docsearch-modal-background: var(--ifm-background-color);
  --docsearch-footer-background: var(--ifm-background-color)
}

.DocSearch-Button-Keys {
  display: none !important;
}

.DocSearch-Button-Container {
  display: flex;
  justify-content: center;
  width: 128px;
}


/**
Left nav cutomizations
 */

.menu.thin-scrollbar {
  width: 100%;
  padding: 0;
  margin: 0;
  padding-top: 16px;
}

.theme-doc-sidebar-item-category, .theme-doc-sidebar-item-link {
  font-size: var(--ifm-h4-font-size);
  font-family: var(--ifm-heading-font-family);
}


/**
Footer customizations
 */

.footer {
  --ifm-footer-background-color: var(--ifm-color-primary-dark);
  --ifm-footer-color: var(--ifm-font-color-base-inverse);
  padding: 0;

  .container {
    max-width: var(--body-width);
    margin-left: var(--margin);
    margin-right: var(--margin);
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer__links, .footer__bottom {
    margin: 0;
    text-align: start;
  }

  .footer__link-item {
    margin-right: 4px;
  }

  .footer__link-separator {
    display: none;
  }
}


/**
Right bar customizations
 */

.theme-doc-toc-desktop {
  max-height: unset !important;
  position: unset !important;
  overflow-y: unset !important;
  top: unset !important;

  .table-of-contents {
    padding: 0;
    border-left: none;
    font-size: 1.0rem;

    li {
      margin: 8px 0;
    }
  }
}

.theme-doc-footer {
  display: none;
}

/**
Main customizations
 */

@include for-desktop-screens {
  .row {
    margin: 0;
  }

  .col {
    padding: 0 0 0 var(--gutter);
  }
}

.theme-doc-version-badge {
  display: none;
}
